<ion-header no-border>
  <ion-toolbar>
    <ion-title>
      Historiales
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="enviarCorreo()" color="primary">
        <ion-icon slot="icon-only" name="send"></ion-icon>
      </ion-button>
      <ion-button (click)="eliminarRegistros()" color="danger">
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let registro of dataLocal.registros" (click)="abrirRegistro(registro)" detail>
      <ion-icon slot="start" [name]="registro.icon" color="primary"></ion-icon>
      <ion-label>
        {{ registro.texto }}
        <p>{{ registro.created | date: 'medium'}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  
</ion-content>

